<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理 - Share Space</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a th:href="@{/admin/manage}"><div class="layui-logo"><i class="layui-icon layui-icon-template-1"> </i> 后台管理</div></a>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img style="max-width:60px;"  class="layui-nav-img"/>
                    <span >管理员</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/admin/manage(cp=1)}">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/exit}">退出登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree layui-anim layui-anim-upbit"  lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" th:href="@{/admin/manage(op=0)}">所有用户</a>
                </li>
                <li class="layui-nav-item">
                    <a class="" th:href="@{/admin/manage(op=1)}">所有文件</a>
                </li>
                <li class="layui-nav-item">
                    <a class="" th:href="@{/admin/manage(op=2)}">管理员设置</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" id="admin-content" class="layui-anim layui-anim-up"></div>
    </div>

    <!--   <div class="layui-footer">
            &lt;!&ndash; 底部固定区域 &ndash;&gt;
            © layui.com - 底部固定区域
        </div>-->
</div>



<div style="display:none">
    <!-- 所有用户块的主体页面 -->
    <div id="all-user">
        <!--所有日记页面-->
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="radio" name="crud" value="/admin/deleteUser" title="删除" />
                    <input type="radio" name="crud" value="/admin/editUser" title="编辑" />
                </div>
                <div class="layui-input-inline">
                    <button class="layui-btn" lay-submit="" lay-filter="form-user-crud">确认</button>
                </div>
            </div>
            <table class="layui-table">
                <colgroup>
                    <col width="10"/>
                    <col width="30"/>
                    <col width="30"/>
                    <col width="50"/>
                    <col width="50"/>
                    <col width="50"/>
                    <col width="50"/>
                </colgroup>
                <thead>
                <tr>
                    <th style="text-align:center;"></th>
                    <th>用户id</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>性别</th>
                    <th>是否管理员</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <!--<td th:text="${daily.getId()}">id</td>-->
                    <td><div class="layui-form-item" style="margin-left:33%;margin-top:5px;">
                        <input type="checkbox" lay-skin="primary"/>
                    </div></td>
                    <td >用户id</td>
                    <td >用户名</td>
                    <td >密码</td>
                    <td >性别</td>
                    <td >是否管理员</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- 所有日记块的主体页面 -->
    <div id="all-daily">
        <!--所有日记页面-->
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="radio" name="crud" value="/admin/deleteDaily" title="删除" />
                    <input type="radio" name="crud" value="/admin/editDaily" title="编辑" />
                </div>
                <div class="layui-input-inline">
                    <button class="layui-btn" lay-submit="" lay-filter="form-daily-crud">确认</button>
                </div>
            </div>
            <table class="layui-table">
                <colgroup>
                    <col width="10"/>
                    <col width="30"/>
                    <col width="300"/>
                    <col width="50"/>
                </colgroup>
                <thead>
                <tr>
                    <th style="text-align:center;"></th>
                    <th>id</th>
                    <th>标题</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <!--<td th:text="${daily.getId()}">id</td>-->
                    <td><div class="layui-form-item" style="margin-left:33%;margin-top:5px;">
                        <input type="checkbox" lay-skin="primary"/>
                    </div></td>
                    <td >id</td>
                    <td >title</td>
                    <td >time</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- 管理员设置块的主体页面 -->
    <div id="settings-content">
        <form class="layui-form" th:action="@{/admin/saveUserSettings}" method="POST">

            <div class="layui-form-mid layui-word-aux">个人信息</div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input disabled="" class="layui-input" type="text" name="username" autocomplete="off"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="nickname" autocomplete="off"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="男" title="男"/>
                    <input type="radio" name="sex" value="女" title="女" />
                </div>
            </div>

            <hr/>

            <div class="layui-form-mid layui-word-aux">站点信息</div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户头像</label>
                <div class="layui-input-inline div-select">
                    <select id="avatar-select" lay-filter="avatar" name="avatarpath" lay-verify="required">
                        <option value="/images/default.png">默认头像</option>
                        <option value="/images/default_boy1.png">boy1</option>
                        <option value="/images/default_boy2.png">boy2</option>
                        <option value="/images/default_boy3.png">boy3</option>
                        <option value="/images/default_girl1.png">girl1</option>
                        <option value="/images/default_girl2.png">girl2</option>
                        <option value="/images/default_girl3.png">girl3</option>
                        <option value="/images/default_girl4.png">girl4</option>
                        <option >当前头像</option>
                    </select>
                </div>
                <div class="show-pic">
                    <img style="max-width: 120px;float:left;"/>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="form-information">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>

        </form>
    </div>

    <!-- 修改密码块的主体页面 -->
    <div id="modify-password">
        <form class="layui-form" th:action="@{/admin/modifyPassword}" method="POST">
            <div class="layui-form-mid layui-word-aux">修改密码</div><hr/>

            <div class="layui-form-item">
                <label class="layui-form-label">旧密码</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="password" id="input_pwd" name="input_pwd" placeholder="请输入旧密码" required="" lay-verify="required" autocomplete="off"/>
                    <input style="display:none;" disabled="" id="old_pwd" class="layui-input" type="password" name="old_pwd" autocomplete="off"/>
                </div>
            </div>
            <br/>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="password" id="new_pwd" name="new_pwd" required="" lay-verify="required" placeholder="请输入新密码" autocomplete="off"/>
                </div>
            </div>
            <br/>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="password" id="new_pwd2" name="new_pwd2" required="" lay-verify="required" placeholder="请确认密码" autocomplete="off"/>
                </div>
            </div><br/>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="form-password">确认</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    layui.use(['element','form','jquery'], function(){
        var element = layui.element,
            form = layui.form,
            $ = layui.$;

        //获取url参数的值,比如GetQueryString("op") 返回 op参数值
        function GetQueryString(name)
        {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if( r != null )
                return unescape(r[2]);
            return null;
        }

        //url 的get参数 op的值为0，则显示书写日记页面，1则显示所有日记页面，2则显示用户设置页面
        var op = GetQueryString("op");
        var cp = GetQueryString("cp");
        var contentDom; //页面主体内容的节点
        var num = null;
        if(op == "0" || op == "" || op == null){
            contentDom = document.getElementById("all-user");
            num = 0;
        }else if(op == "1"){
            contentDom = document.getElementById("all-daily");
            num = 1;
        }else if(op == "2"){
            contentDom = document.getElementById("settings-content");
            num = 2;
        }else{
            contentDom = document.createElement("h1");
            contentDom.innerHTML = "404 not found!";
            num = 3;
        }
        if(num != 3 && cp != "1"){ //将当前链接按钮的背景颜色切换成绿色
            $(".layui-nav-tree li a")[num].setAttribute("class","layui-bg-green");
        }
        if(cp == "1"){
            contentDom = document.getElementById("modify-password");
        }

        //使用append而非innerHTML 是为了避免前端渲染失败
        $("#admin-content").append(contentDom);

        form.on('select(avatar)',function(data){
            var avatar_path = $(".div-select dl .layui-this").attr("lay-value");
            $(".show-pic img").get(0).setAttribute("src",avatar_path);
        });

        //监听 所有用户的crud操作表单的提交
        form.on('submit(form-user-crud)',function(data){
            var ids = [];
            var url = '';
            for(var i in data.field){
                if(i != 'crud'){
                    ids.push(parseInt(i));
                }else{
                    url = data.field[i];
                }
            }
            if(url == '/admin/editUser' && ids.length > 1){ //编辑日记
                layer.msg('至多选择一个用户进行编辑!');
                setTimeout("window.location.href='/admin/manage?op=0'",1000);
            }else if(ids.length == 0){ //无选中记录的情况
                layer.msg("没有选中的记录啊 Σ( ° △ °|||)");
            }else{ //删除日记
                $.ajax({
                    url     :   url,
                    type    :   'POST',
                    data    :   {
                        myIds:ids
                    },
                    dataType    :   'json',
                    success :   function(data){
                        // layer.msg('提交成功');
                        layer.msg(data);
                    },
                    error   :   function(data){
                        if(ids.length == 0){
                            layer.msg("没有选中的记录啊 Σ( ° △ °|||)")
                        }else{
                            var temp_url = data.responseText;
                            window.location.href = temp_url;
                        }

                    }
                });
            }
            return false;
        });

        //监听 所有日记的crud操作表单的提交
        form.on('submit(form-daily-crud)',function(data){
            var ids = [];
            var url = '';
            for(var i in data.field){
                if(i != 'crud'){
                    ids.push(parseInt(i));
                }else{
                    url = data.field[i];
                }
            }
            if(url == '/admin/editDaily' && ids.length > 1){ //编辑日记
                layer.msg('至多选择一篇日记进行编辑!');
                setTimeout("window.location.href='/admin/manage?op=1'",1000);
            }else if(ids.length == 0){ //无选中记录的情况
                layer.msg("没有选中的记录啊 Σ( ° △ °|||)");
            }else{ //删除日记
                $.ajax({
                    url     :   url,
                    type    :   'POST',
                    data    :   {
                        myIds:ids
                    },
                    dataType    :   'json',
                    success :   function(data){
                        // layer.msg('提交成功');
                        layer.msg(data);
                    },
                    error   :   function(data){
                        if(ids.length == 0){
                            layer.msg("没有选中的记录啊 Σ( ° △ °|||)")
                        }else{
                            var temp_url = data.responseText;
                            window.location.href = temp_url;
                        }
                    }
                });
            }
            return false;
        });
    });
    //]]>
</script>
</body>
</html>