<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册 - Share Space</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/sera.css}"/>
</head>
<body>
<div class="layui-container">

    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4 sera-login">
            <form class="layui-form" action="/register" method="POST">

                <div class="layui-row sera-title">
                    <div class="layui-col-md4 layui-col-md-offset6">
                        <h2 class="layui-elip sera-center"> 注 册</h2>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">用户名 :</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" class="layui-input" required="" placeholder="请输入用户名" lay-verify="required" autocomplete="off"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">密 码 :</label>
                    <div class="layui-input-block">
                        <input id="pwd1" type="password" name="password" class="layui-input" required="" lay-verify="required" autocomplete="off" placeholder="请输入密码"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码 :</label>
                    <div class="layui-input-block">
                        <input id="pwd2" type="password" name="repassword" class="layui-input" required="" lay-verify="required" autocomplete="off" placeholder="请确认密码"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <a class="sera-a" th:href="@{/login}" target="_self">已有账号? 去登录→</a>
                    <div class="layui-input-block">
                        <button class="layui-btn sera-button" lay-submit="" lay-filter="form-register">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="error_msg" th:text="${error_msg}" style="display:none"></div>

<script>
    layui.use(['form','jquery'], function(){
        var form = layui.form,
            $ = layui.$; //导入内置jquery库

        var error_msg = $(".error_msg")[0].innerHTML;
        if(error_msg != ""){
            layer.msg(error_msg); //打印报错信息
        }

        //监听提交
        form.on('submit(form-register)',function(data){
            // layer.msg(JSON.stringify(data.field));
            if($('#pwd1').val() != $('#pwd2').val()){
                layer.msg('输入密码不一致!');
                return false;
            }
            return true;
        });
    });
</script>

</body>
</html>