body{
    background-image: url(/images/bg.jpg);
}

.upload-space{
    width: 560px;
    margin: 0 auto;
    margin-top: 60px;
}

.file{
    margin-left: 50px;
    line-height: 60px;
    color: white;
    font-family: "Microsoft YaHei UI";
}

.upload-space label,.upload-space h2{
    color: white;
}