<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.captainshen.dao.FileDao">
    <resultMap id="fileMap" type="cn.captainshen.entity.LocalFile">
        <result column="fileid" property="fileid" />
        <result column="filepath" property="filePath" />
        <result column="filename" property="fileName" />
        <result column="filedesc" property="fileDesc" />
        <result column="filetag" property="fileTag" />
        <result column="filecheck" property="fileCheck" />
        <result column="filestate" property="fileState" />
        <result column="downloadnum" property="downloadNum" />
        <result column="userid" property="userid" />
        <result column="username" property="userName" />
        <result column="filedate" property="fileDate" />
        <result column="filetype" property="fileType" />
        <result column="downloaddate" property="downloadDate" />
    </resultMap>

    <insert id="addFile" parameterType="cn.captainshen.entity.LocalFile">
      INSERT IGNORE INTO sfile(filepath, filename, filedesc, userid, filedate, filetype, filestate,filecheck) VALUES(
      #{filePath}, #{fileName}, #{fileDesc}, #{userid}, #{fileDate}, #{fileType}, #{fileState},#{fileCheck})
    </insert>

    <select id="findFileByDesc" resultMap="fileMap">
        SELECT * FROM sfile WHERE filedesc LIKE concat('%', #{fileDesc}, '%')
    </select>

    <select id="findFileByName" resultMap="fileMap">
        SELECT * FROM sfile WHERE filename LIKE concat('%', #{fileName}, '%')
    </select>
    
    <select id="findFileByFileId" resultType="cn.captainshen.entity.LocalFile">
        SELECT * FROM sfile WHERE fileid = #{fileId};
    </select>

    <select id="findFileByUserId" resultMap="fileMap">
        SELECT * FROM sfile WHERE userid = #{param1}
    </select>

    <select id="findDownloadedFileByUserId" resultMap="fileMap">
        SELECT * FROM sdfile WHERE userid = #{userId}
    </select>

    <select id="findPublicFilesByFileName" resultMap="fileMap">
        SELECT * FROM sfile WHERE filecheck = 1 AND filestate = 2 AND filename LIKE concat('%', #{fileName}, '%')
    </select>

    <update id="updateFileInfo">
        UPDATE sfile SET filestate = #{param3}, filedesc = #{param2}
        WHERE fileId = #{param1}
    </update>

    <delete id="deleteFileByFileId">
        DELETE FROM sfile WHERE fileid = #{fileId}
    </delete>
    
    <insert id="addDownloadRecord" parameterType="cn.captainshen.entity.LocalFile">
        INSERT IGNORE INTO sdfile(fileid, userid, filename, username, downloaddate)
        VALUES(#{fileid}, #{userid}, #{fileName}, #{userName}, #{downloadDate})
    </insert>

    <select id="findGroupFilesByGroupId" resultMap="fileMap">
        SELECT * FROM sfile WHERE filecheck = 1 AND filestate > 0 AND
        userid IN (SELECT userid FROM sguser WHERE groupid = #{groupId})
    </select>
</mapper>